body {
  background-color: #f1f1f1;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
  text-transform: uppercase;
}

h1 {
  font-size: 10vw;
}